<% include header %>
<% include sidebar %>
<% include navbar %>

<div class="col-md-6 col-lg-10-2">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Cerrar Orden de trabajo</h3>
            <label id="clave_cerrar2" hidden><%=id_clave%></label></div>
            <label id="status_cerrar2" hidden><%=status%></label></div>
        <!-- form start -->
        <form method="POST">
            <div class="box-body">
                <!-- form body -->
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label for="Titulo">Empleado</label>
                        <input readonly type="text" class="form-control" name="nombreEmpleado" id="nombreEmpleado"
                            value="<%=nombreEmpleado%>">
                    </div>

                    <div class="form-group col-lg-6">
                        <label for="Titulo">Gafete</label>
                        <input readonly type="text" class="form-control" name="numeroEmpleado" id="numeroEmpleado"
                            value="<%=numeroEmpleado%>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Titulo">Numero de orden</label>
                        <input readonly type="text" class="form-control" name="id_orden" id="id_orden"
                            value="<%=id_orden%>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Titulo">Fecha: (YYYY-MM-DD)</label>
                        <%
                                    function getDate() {
                              var today = new Date();
                              var dd = String(today.getDate()).padStart(2, '0');
                              var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                              var hh = today.getHours();
                              var m = today.getMinutes();
                              var ss = today.getSeconds();
                              var yyyy = today.getFullYear();
                              today = yyyy + '-' + mm + '-' + dd + ' ' + hh + ':' + m + ':' + ss;
                              return today;
                            }
                                %>
                        <input readonly type="hidden" name="current_date" id="current_date" value="<%=Date()%>">
                        <input readonly type="text" name="formatted_current_date" class="form-control"
                            value="<%=getDate()%>">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="Titulo"id="lbl_clave_cerrar2">Clave de cierre:</label> <label id="msg"> </label> 
                        <input type="text" class="form-control" name="clave_cierre" id="clave_cierre" value="">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Titulo">Parte afectada</label>
                        <input readonly type="text" class="form-control" name="parteAfectada" id="parteAfectada"
                            value="<%=parteAfectada%>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="Descripcion">Actividades realizadas(opcional):</label>
                    <textarea type="text" class="form-control " rows="3" name="actividades" required></textarea>
                </div>
                
            </div>
            <button formAction="/cambio_orden/Atendida" type="submit" class="btn btn-primary btn-block" id="atender"
                >Atender
                Orden</button>
            <button formAction="/cambio_orden/Cerrada" type="submit" class="btn btn-success btn-block" id="cerrar"
                disabled>Cerrar
                Orden</button>

        </form>
    </div>

    <% include footer %>
    <script src="./js/revisarClave.js"></script>
</div>
</body>

</html>