<% include header %>
<% include sidebar %>
<% include navbar %>

<div class="col-xl-12 jumbotron jumbotron-fluid animated bounceInDown">
    <div class="container">
        <img src="/img/TristoneLogo.png" class="rounded mx-auto d-block" alt="Tristone Flowtech">
        <h1 class="display-4 text-center">Sistema Andon</h1>
        <p class="lead text-center">Su Andon ha sido creada satisfactoriamente</p>


        <div class="card bg-light  ">
            <div class=" card-header text-white bg-success text-center">Andon creada</div>
            <div class="card-body">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <td>ID</td>
                            <td><%= data.id_andon%></td>
                        </tr>
                        <tr>
                            <td>Departamento</td>
                            <td><%= data.departamento%></td>
                        </tr>

                        <tr>
                            <td>Problema</td>
                            <td><%= data.problema%></td>
                        </tr>
  
                        <tr>
                            <td>Clave de cierre</td>
                            <td><%= data.clave%></td>
                        </tr>

                        <tr>
                            <td>Descripcion</td>
                            <td><%= data.descripcion%></td>
                        </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    if (window.history.replaceState) {
        window.history.replaceState(null, null, '/');
    }
</script>
<% include footer %>
</div>
</body>

</html>